<!DOCTYPE html>
<html>
  <head>
    <title>RailsLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="row">Welcome to Dan and Jamie's Library!</h1>
      <nav class="row">
        <div class="large-8 small-12 columns button-group" id="nav-buttons">
            <%= link_to "All Books", books_path, class: "warning button small-6 large-2" %>
            <%= link_to "New Book", new_book_path, class: "alert button small-6 large-2" %>
            <%= link_to "All Authors", authors_path, class: "success button small-6 large-2" %>
            <%= link_to "New Author", new_author_path, class: "button small-6 large-2" %>

        </div>
        <div class="large-4 small-12 columns button-group" id="login-buttons">
          <% if session[:user_id] %>
            <p class="button">
              Logged in as
              <%= User.find(session[:user_id]).name %>
            </p>
            <%= link_to "Log out", logout_path, class: "button" %>
          <% else %>
            <%= link_to "Log in", '/auth/github', class: "button" %>
          <% end %>

        </div>
      </nav>

    </header>

    <main>
      <section class="flash <%= flash[:status] %>">
        <p>
          <%= flash[:message] %>
        </p>
        <% if flash[:details] %>
          <ul>
            <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
                <li>
                  <strong>
                    <%= field %>:
                  </strong>
                  <%= problem %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </section>

      <%= yield %>
    </main>

    <footer>
      &copy; 2017
    </footer>
  </body>
</html>
